@import '../../vendor/bootstrap/less/bootstrap.less';
@import 'variables.less';


@font-face {
    font-family: 'raleway';
    src: url('fonts/raleway-semibold.eot');
    src: url('fonts/raleway-semibold.eot?#iefix') format('embedded-opentype'),
    url('fonts/raleway-semibold.woff2') format('woff2'),
    url('fonts/raleway-semibold.woff') format('woff'),
    url('fonts/raleway-semibold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'raleway';
    src: url('fonts/raleway-bold.eot');
    src: url('fonts/raleway-bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/raleway-bold.woff2') format('woff2'),
    url('fonts/raleway-bold.woff') format('woff'),
    url('fonts/raleway-bold.ttf') format('truetype');
    font-weight: bolder;
    font-style: normal;
}

@font-face {
    font-family: 'raleway';
    src: url('fonts/raleway-regular.eot');
    src: url('fonts/raleway-regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/raleway-regular.woff2') format('woff2'),
    url('fonts/raleway-regular.woff') format('woff'),
    url('fonts/raleway-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*  General CSS*/
body{
    background: #fff;
}

header ul.social li a,
.main .work a .caption,
header nav ul li a{
    transition:all .1s linear;
    -webkit-transition:all .1s linear;
    -moz-transition:all .1s linear;
    -o-transition:all .1s linear;
}

h1, h2, h3, h4, h5 ,h6{
    color: #4b4848;
    font-family: @sansFontFamily;
    letter-spacing: 1px;
    font-weight: bolder
}

h1              { font-size: 2em; margin: .67em 0 }
h2              { font-size: 1.5em; margin: .75em 0 }
h3              { font-size: 1.17em; margin: .83em 0 }
h5              { font-size: .83em; margin: 1.5em 0 }
h6              { font-size: .75em; margin: 1.67em 0 }

header {
    margin: 10px 20px;

    #nav-toggle {
        margin-top: 5px;
        display: block;
        position: relative;
        width: 35px;
        height: 25px;
        span, span:before, span:after {
            cursor: pointer;
            border-radius: 1px;
            height: 4px;
            width: 35px;
            background: black;
            position: absolute;
            display: block;
            content: '';
            transition: all 500ms ease-in-out;
        }
        span:before { top: 10px; }
        span:after { top: 20px; }
        &.active span { background-color: transparent; }
        &.active span:before { transform: rotate(45deg); }
        &.active span:after { transform: translateY(-10px) rotate(-45deg); }
    }


    nav {
        clear: both;

        ul {
            display: block;
            overflow: hidden;
            margin-top: 100px;
            list-style: none;

            li {
                display: block;
                margin-bottom: 30px;

                a {
                    color: #454545;
                    font-family: @sansFontFamily;
                    font-size: 14px;
                    text-decoration: none;
                    letter-spacing: 1px;
                    &:hover, &.selected {
                        color: #969595;
                    }
                }
            }
        }
    }

    ul.social {
        list-style: none;
        margin-bottom: 5px;

        li {
            display: block;
            float: left;
            position: relative;
            margin: 0 15px 15px 0;

            a {
                display: block;
                width: 30px;
                height: 30px;
                background: url('img/sm.jpg') no-repeat;
                background-position-y: -30px;
                &:hover{
                    background-position-y: 0px;
                }

                &.fb, &.fb:hover {
                    background-position-x: 0;
                }

                &.linked-in, &.linked-in:hover {
                    background-position-x: -30px;
                }

                &.magento, &.magento:hover {
                    background-position-x: -60px;
                }
            }
        }
    }

    .rights p {
        color: #454545;
        font-family: @sansFontFamily;
        font-size: 11px;
        letter-spacing: 1px;
        line-height: 18px;
        a {
            font-family: @sansFontFamily;
            font-weight: bold;
            text-decoration: none;
        }
    }
}

@media (max-width: @screen-xs-max) {
    header nav ul {
        margin-top: 25px;
    }
}

/**
 * Now that all app-wide styles have been applied, we can load the styles for
 * all the submodules and components we are using. 
 *
 * TODO: In a later version of this boilerplate, I'd like to automate this.
 */

@import '../app/home/home.less';
@import '../app/project/project.less';
@import '../app/contact/contact.less';

