/*  Inner Page  */
.top {
    .title-container {
        background: rgba(255, 255, 255, .7);
        margin-top: -75px;
        margin-bottom: 50px;
        float: left;
        h1 {
            padding: 20px;
            text-transform: uppercase;
            line-height: 35px;
            margin: 0 !important;
            overflow: hidden;

            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            -ms-box-sizing: border-box;
            box-sizing: border-box;

        }

        .nav {
            padding: 20px;
            a {
                font-size: 25px;
                color: #4b4848;
            }
        }
    }
}

.content {
    color: #4b4848;
    font-family: @sansFontFamily;
    font-size: 15px;
    line-height: 22px;
    background: #fff;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    p {
        color: #4b4848;
        font-family: @sansFontFamily;
        font-size: 15px;
        line-height: 24px;
        margin-bottom: 4em;
    }
    h1, h2, h3, h4, h5, h6 {
        color: #4b4848;
        font-family: @sansFontFamily;
        font-weight: bold;
        line-height: 28px;
        margin-bottom: 2em;
    }
    img { margin-bottom: 4em; }
}