<!DOCTYPE html>
<html ng-app="portfolioApp" ng-controller="AppCtrl">
    <head>
        <title ng-bind="pageTitle"></title>

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">

        <!-- compiled CSS --><% styles.forEach( function ( file ) { %>
        <link rel="stylesheet" type="text/css" href="<%= file %>" /><% }); %>

        <!-- compiled JavaScript --><% scripts.forEach( function ( file ) { %>
        <script type="text/javascript" src="<%= file %>"></script><% }); %>
    </head>
    <body>
    <header>
        <div class="logo">
            <a href="index.html"><img ng-src="assets/img/logo.png" title="szewczyk.org" alt="szewczyk.org"/></a>
        </div><!-- end logo -->

        <div id="menu_icon"></div>
        <nav>
            <ul>
                <li><a href="index.html" class="selected">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav><!-- end navigation menu -->

        <div class="footer clearfix">
            <ul class="social clearfix">
                <li><a href="#" class="fb" data-title="Facebook"></a></li>
            </ul><!-- end social -->

            <div class="rights">
                <p>Copyright © 2014 Kamil Szewczyk.</p>
            </div><!-- end rights -->
        </div ><!-- end footer -->
    </header><!-- end header -->

    <section class="main clearfix" ui-view="main"></section>
    </body>
</html>
