/*  Home/portfolio  */
.work {
    height: auto;
    overflow: hidden;
    padding: 0 !important;
    margin: 0 !important;

    .media {
        width: 100%;
        vertical-align: middle;
    }

    .caption {
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: #ffffff;
        opacity: 0;

        .work_title {
            display: block;
            width: 100%;
            position: absolute;
            text-align: center;
            top: 50%;
            margin-top: -40px;
        }

        h1 {
            position: relative;
            display: inline-block;
            max-width: 90%;
            padding: 20px 0;
            z-index: 77;
            color: #454545;
            font-family: @sansFontFamily;
            font-size: 16px;
            letter-spacing: .5px;
            border-bottom: 1px solid #bfbbbb;
            border-top: 1px solid #bfbbbb;
        }

    }

    a:hover .caption {
        opacity: 1;
    }
}